<div class="footer__contacts">
    <h3>Контакты</h3>
    <div class="footer__contacts-item">
        <p><strong>Адрес:</strong> г. Луганск, 7-й Лутугинский проезд, 17</p>
        <p>(в здании бильярдного клуба "СВОЯК")</p>
        <p><a href="https://yandex.uz/maps/222/luhansk/house/7_y_lutuhynskyi_proizd_17/Z0AYdA9lQEYFQFpifXlyeH1lZA==/inside/?from=mapframe&ll=39.285933%2C48.539160&tab=inside&utm_medium=mapframe&utm_source=maps&z=16" style="color: #007bff;" target="_blank" rel="noopener noreferrer">на карте</a></p>
    </div>
    <div class="footer__contacts-item">
        <p><strong>График работы:</strong></p>
        <p>ПН-ПТ 9:00-17:00</p>
        <p>СБ 9:00-16:00</p>
        <p>ВС Выходной</p>
    </div>
    <div class="footer__contacts-item">
        <p><strong>тел.:</strong> <a href="tel:+79590029073">+7 (959) 002 90 73</a></p>
        <p><strong>тел. / telegram:</strong> <a href="tel:+79591915557">+7 (959) 191-55-57</a></p>
        <p><strong>тел. / telegram:</strong> <a href="tel:+79591076601">+7 (959) 107-66-01</a></p>
    </div>
</div>
