{# Видимые бейджи счётчиков в подвале (как на старом сайте) #}
<div class="footer__counters" aria-label="Счётчики посещаемости">
    <a href="https://metrika.yandex.ru/stat/?id=100115655&amp;from=informer"
       target="_blank"
       rel="nofollow noopener noreferrer">
        <img src="https://informer.yandex.ru/informer/100115655/3_1_FFFFFFFF_EFEFEFFF_0_uniques"
             width="88"
             height="31"
             alt="Яндекс.Метрика"
             title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
             class="ym-advanced-informer"
             data-cid="100115655"
             data-lang="ru">
    </a>
    <a href="https://www.liveinternet.ru/click"
       target="_blank"
       rel="nofollow noopener noreferrer">
        <img id="licnt0408"
             width="88"
             height="31"
             style="border:0"
             title="LiveInternet: показано число просмотров и посетителей за 24 часа"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
             alt="LiveInternet">
    </a>
</div>
