{% load static %}
<div class="footer__social">
    <a href="https://t.me/+79590029073" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/ico/telegram.svg' %}" alt="telegram"></a>
    <a href="https://wa.me/79591076601" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/ico/whatsapp.svg' %}" alt="whatsapp"></a>
    <a href="https://max.ru/u/f9LHodD0cOJgOM7UfeWm2KXezlqeLPd9CPnBaHi8pPV5_wLlPSVitgOcVfg" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/ico/max.svg' %}" alt="MAX"></a>
    <a href="mailto:sales@tir-lugansk.ru"><img src="{% static 'img/ico/email.svg' %}" alt="Email"></a>
    <a href="https://vk.com/tirlugansk" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/ico/vk.svg' %}" alt="ВКонтакте"></a>
    <a href="/rss.xml" title="RSS-лента"><img src="{% static 'img/ico/rss.svg' %}" alt="RSS"></a>
</div>
