<h3>Ссылки</h3>
<nav>
    <ul>
        <li><a href="{% url 'pages:home' %}">Главная</a></li>
        <li><a href="{% url 'shop:catalog' %}">Ассортимент</a></li>
        {% for useful_item in helpful_menu_items %}
        <li>
            <a href="{% if useful_item.useful_category %}{% url 'pages:useful_category' useful_item.useful_category.slug %}{% else %}{{ useful_item.url }}{% endif %}"{% if useful_item.open_in_new_tab %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ useful_item.title }}</a>
        </li>
        {% endfor %}
        <li><a href="{% url 'pages:about' %}">О компании</a></li>
        <li><a href="{% url 'pages:contacts' %}">Наши контакты</a></li>
        <li><a href="{% url 'pages:page_detail' privacy_policy_slug %}">Пользовательское соглашение</a></li>
    </ul>
</nav>
